<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Humita en olla</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1 class="color-marron">Receta de Humita en olla</h1>
    <img src="../img/Humita en olla.jpg" width="500" height="250" alt="">
    <p>La humita es una receta que se originó en los Andes peruanos y se extendió por un montón de lugares de Latinoamérica, básicamente es una pasta de maíz o choclo?. Hay varias versiones: según la región, la base se mantiene. Lo que van cambiando son las cosas que le suman: algunas llevan carne, otras no. Unas llevan queso de vaca, otros de cabra y así en varios detalles.</p>
    <hr>
    <h2>Ingredientes</h2>
    <h3>Para la Humita</h3>
    <ul type="square">
    <li>20 Choclos (rallados).</li>
    <li>1/2 Zapallo kabutia chico horneado (puré).</li>
    <li>1 Morrón en brunoise.</li>
    <li>2 Cebolas en brunoise.</li>
    <li>2 Hojas de laurel.</li>
    <li>1 Taza de leche entera.</li>
    <li>Sal y pimienta negra.</li>
    <li>300g. de queso cuartirolo.</li>
    </ul>
    <h3>Salsa</h3>
    <ul type="square">
    <li>1 taza de Aceite de girasol.</li>
    <li>1 cda. de Pimentón dulce.</li>
    <li>1 cda. de Ají molido.</li>
    <li>4 Cebollas de verdeo.</li>
    <li>Sal y pimienta negra.</li>
    </ul>
    <h2>Procedimiento</h2>
    <ol>
    <li>Picar los morrones y las cebollas.</li>
    <li>Calentar una olla y poner dos cucharadas de aceite de oliva. Agregar los morrones y la cebolla.</li>
    <li>Condimentar con sal y pimienta, bajar el fuego y dejar que se cocinen por 5 a 10 minutos.</li>
    <li>Rallar el choclo crudo con un rallador grueso.</li>
    <li>Una vez que las verduras estén transparentes y levemente doradas, incorporar el choclo rallado con todo sus jugos, el puré de zapallo y agregar leche a medida que necesite, mezclar constantemente para que no se pegue y condimentar. Cocinar a fuego bajo por 10 minutos aprox.</li>
    <li>Para la salsa, saltear la cebolla de verdeo (la parte verde) picada en aceite y agregar los condimentos.</li>
    <li>Servir en cuenco con un queso cremoso y hojas de albahaca debajo y la salsa por arriba.</li>
    </ol>
    <iframe width="640" height="360" src="https://www.youtube.com/embed/I-N8vWLkc1o" title="CÓMO HACER HUMITA EN OLLA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <hr>
    <a href="https://cocinerosargentinos.com/vegetariano/humita-en-olla-6" target="_blank">
        También podés ver esta receta en <strong>Cocineros argentinos</strong>.
    </a>
    <br>
    <a href="bondiola-a-la-cerveza-con-batatas.html">
        Te puede gustar mi receta de <em>Bondiola a la cerveza con batatas</em>.
    </a>
    <br>
    <a href="../../index.html">
        Volver al Inicio
    </a>
</body>
</html>